doctype html
html
  head
    meta(charset='utf-8')      
    title Apollo
    link(rel='stylesheet', href='/vendor/font-awesome/css/font-awesome.min.css')
    link(rel='stylesheet', href='/vendor/bootstrap/dist/css/bootstrap.css')
    link(rel='stylesheet', href=isProd ? '/index.min.css' : '/index.css')
    link(rel='shortcut icon', href='/favicon.ico')
  body
    .row.container-fluid
      .col-sm-12.col-md-3
        .row#form-row
          form.form-inline#new-item-form(name='items')
            .form-group
              label(for='first') First     
              input#first.form-control(type='text', name='first', placeholder='First')
            .form-group
              label(for='last') Last
              input#last.form-control(type='text', name='last', placeholder='Last')
            .form-group
              label(for='company') Company
              input#company.form-control(type='text', name='company', placeholder='Company')
            .form-group
              label(for='city') City
              input#city.form-control(type='text', name='city', placeholder='City')
            .form-group
              label(for='county') County
              input#county.form-control(type='text', name='county', placeholder='County')
            .form-group
              label(for='state') State
              input#state.form-control(type='text', name='state', placeholder='State')
            .form-group
              label(for='zip') Zip
              input#zip.form-control(type='number', name='zip', placeholder='Zip')
            button.btn.btn-default(type='submit') Add
      .col-sm-12.col-md-9
        .row#pager
          #pager.pager
            form
                img.first(src='images/first.png')
                img.prev(src='images/prev.png')
                input.pagedisplay(type='text')
                img.next(src='images/next.png')
                img.last(src='images/last.png')
                //- select.pagesize
                //-   option(value='50')
                //-   option(value='2') 2 per page
                //-   option(value='5') 5 per page
                //-   option(value='10') 10 per page

          .col-sm-offset-2.col-sm-8.pagination-col
        .row
          .col-sm-offset-2.col-sm-8
            table.table.table-hover.company-table#companies
                thead#table-head
                  tr#tabel-head-row
                tbody#table-body
                  
    script(src='/vendor/jquery/dist/jquery.js')
    script(src='/vendor/lodash/lodash.min.js')
    script(src='/vendor/jquery.tablesorter/dist/js/jquery.tablesorter.min.js')
    script(src='/vendor/jquery.tablesorter/addons/pager/jquery.tablesorter.pager.js')
    script(src=isProd ? '/index.min.js' : '/index.js')
