doctype html
html
  head
    meta(charset='utf-8')      
    title Apollo
    link(rel='stylesheet', href='/vendor/font-awesome/css/font-awesome.min.css')
    link(rel='stylesheet', href='/vendor/bootstrap/dist/css/bootstrap.css')
    link(rel='stylesheet', href=isProd ? '/index.min.css' : '/index.css')
    link(rel='shortcut icon', href='/favicon.ico')
  body
    .row.container-fluid
      .col-sm-offset-2.col-sm-8
        .row
          button.btn.btn-default#show-form
            i.fa.fa-plus
        .row#form-row
          form.form-inline#new-item-form(name='items')
            .form-group
              label(for='first') First     
              input.new-item-inputs#first.form-control(type='text', name='first')
            .form-group
              label(for='last') Last
              input.new-item-inputs#last.form-control(type='text', name='last')
            .form-group
              label(for='company') Company
              input.new-item-inputs#company.form-control(type='text', name='company')
            .form-group
              label(for='city') City
              input.new-item-inputs#city.form-control(type='text', name='city')
            .form-group
              label(for='county') County
              input.new-item-inputs#county.form-control(type='text', name='county')
            .form-group
              label(for='state') State
              input.new-item-inputs#state.form-control(type='text', name='state')
            .form-group
              label(for='zip') Zip
              input.new-item-inputs#zip.form-control(type='number', name='zip')
            button.btn.btn-default#submit-form-btn(type='submit') Add Company
      .col-sm-12
        .row#pager
          #pager.pager
            form
                i.fa.fa-fast-backward.first(src='images/first.png')
                i.fa.fa-step-backward.prev(src='images/prev.png')
                input.pagedisplay(type='text')
                i.fa.fa-step-forward.next(src='images/next.png')
                i.fa.fa-fast-forward.last(src='images/last.png')
          

          .col-sm-offset-2.col-sm-8.pagination-col
        .row
          .col-sm-offset-2.col-sm-8
            table.table.table-hover.company-table#companies
                thead#table-head
                  tr#tabel-head-row
                tbody#table-body
                  
                  
    script(src='/vendor/jquery/dist/jquery.js')
    script(src='/vendor/lodash/lodash.min.js')
    script(src='/vendor/jquery.tablesorter/dist/js/jquery.tablesorter.min.js')
    script(src='/vendor/jquery.tablesorter/addons/pager/jquery.tablesorter.pager.js')
    script(src=isProd ? '/index.min.js' : '/index.js')
